* {
  box-sizing: border-box;
}

:root {
  --primary-color: #031b2c;
  --secondary-color: #f0f4f8;
  --accent-color: #FFC632;
  --font-color: #EBEBEB;
  --font-title: "Bevan", serif;
  --font-text: "Cutive", serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .nav ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    font-size: x-large;
    list-style: none;
  }

  .nav a {
    text-decoration: none;
    color: var(--font-color);
    
    font-family:var(--font-title);
    font-weight: 200;
    font-size:xx-large;
  }
  
  .nav a.active {
    color: var(--accent-color);
  }

  h1 {
    text-align: center;
    color: var(--font-color);
    margin: 0;
    font-family: var(--font-title);
    font-weight: 100;
  }

  h2 {
  margin: 1rem;
  font-family: var(--font-title);
  font-weight: 100;
  background-color: var(--primary-color);
  border-radius: 0.7rem;
  color: var(--font-color);
  }

  p {
    line-height: 1.5;
    text-align: justify;
    font-family: var(--font-text);
  }

  footer {
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 10px;
  }
  
  .footer-left p {
    margin: 10px;
  
    color: var(--font-color);
  
    font-family: var(--font-text);
    font-size: x-large;
    font-weight: 400;
  
    line-height: 1.3;
  }
  
  .footer-social img {
    filter: invert(100%);
    gap: 10px;
    margin: 5px;
    transition: transform 0.3s ease-in-out;
    width: 50px;
    height: 50px;
  }
  
  .footer-social img:hover {
    transform: scale(1.2);
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .footer-right a {
    font-family: var(--font-text);
    color: var(--font-color);
    text-decoration: none;
    font-size: x-large;
  }
  
  footer a:hover {
    text-decoration: underline;
    color: var(--accent-color);
  }

@media (max-width: 640px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1000;
  }

  .hamburger-line {
    width: 100%;
    height: 4px;
    background-color: var(--font-color);
    transition: all 0.3s ease;
  }

  .nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px 0;
    z-index: 999;
  }

  .nav.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  h1 {
  margin: 0;
  font-size: xx-large;
  letter-spacing: 0.2rem;
  }

  h2 {
    width: 55%;
    padding: 0.7rem;
    font-size: x-large;
  }

.box-middle1, .box-middle2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  border: 1px solid var(--accent-color);
  background-color: var(--secondary-color);
  border-radius: 0.7rem;
  max-width: 100%;
  }

.box-middle1 p, .box-middle2 p {
  margin: 1rem;
  font-size: middle;
}

.box-middle1 a, .box-middle2 a {
  font-family: var(--font-text);
  font-size: x-small;
  color: var(--primary-color);
  margin: 0.7rem;
}

.box-middle1 picture,.box-middle2 picture {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.box-middle1 img,.box-middle2 img {
  max-width: 100%;
  height: auto; 
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.content p {
  margin-top: 1rem;
  width: 50%;
  height: 40%;
}

.content picture {
  display: block;
  margin: 0;
  align-self: center;
  width: 38%; 
  border-radius: 0.7rem;
}

.content img {
  width: 100%; 
  height: auto;
  object-fit: cover;
  border-radius: 0.7rem;
}

.box-middle1 .content, .box-middle2 .content {
  margin-left: 0.7rem;
}

.herald {
  background-color: var(--secondary-color);
  padding: 1rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.7rem;
  width: 45%; 
  box-sizing: border-box;
  margin: 1rem;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

.herald h2 {
  font-size: large;
  margin: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-title);
  font-weight: 100;
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.7rem;
  color: var(--font-color);
  width: 90%;
}

.herald p {
  font-size: medium;
  margin: 0.5rem;
  text-align: justify;
  font-family: var(--font-text);
  line-height: 1.5;
}

.herald img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
  padding: 0.5rem;
}

.cta-button {
  display: inline-block;
  color: var(--font-color);
  background-color: var(--primary-color);
  text-decoration: none;
  padding: 0.7rem;
  border-radius: 0.7rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  font-family: var(--font-text);
}

.cta-button:hover {
  color: var(--accent-color);
}

.cta-container {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin: 20px;
  gap: 5px;
}

.herald, .newsletter-cta {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}

.newsletter-cta {
  text-align: right;
  max-width: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

.newsletter-cta h3 {
  font-family: var(--font-title);
  font-weight: 100;
  font-size: x-large;
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.7rem;
  color: var(--font-color);
  width: 90%;
  margin: 0 auto;
  text-align: center;
  text-decoration: underline;
}

.newsletter-cta p {
  font-family: var(--font-text);
  color: var(--primary-color);
  font-size: medium;
  font-weight: bold;
  line-height: 1.5;
  text-align: justify;
  margin: 0.5rem;
  
  width: 90%;
  margin: 0 auto;
  text-align: justify;

  border: 3px solid var(--accent-color);
  border-radius: 0.7rem;
  padding: 0.5rem;
  background-color: var(--secondary-color);
}

.cta-button2 {
  display: inline-block;
  justify-self: center;
  align-self: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: var(--font-text);
}

.cta-button2:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

footer {
  position: relative;
}

.footer-left p {
    margin: 10px;

    color: var(--font-color);

    font-family: var(--font-text);
    font-size: medium;
    font-weight: 400;
  
    line-height: 1.3;
}

.footer-social img {
  filter: invert(100%);
  gap: 10px;
  margin: 0.5rem;
  transform: 0.3s ease-in-out;
}

.footer-social img:hover {
  transform: scale(1.2);
}

.footer-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  
  top: 40%;
  right: 0;
  margin: 10px;

  transform: translateY(-50%);
  gap: 5px;
}

.footer-right a {
  font-family: var(--font-text);
  color: var(--font-color);
  text-decoration: none;
  font-size: medium;
}

footer a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}
}
/* Footer ends here */